apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosquitto
  namespace: x32-automation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mosquitto
  template:
    metadata:
      labels:
        app: mosquitto
    spec:
      containers:
        - name: mosquitto
          image: eclipse-mosquitto:2
          ports:
            - containerPort: 1883
          volumeMounts:
            - name: mosquitto-config
              mountPath: /mosquitto/config/mosquitto.conf
              subPath: mosquitto.conf
      volumes:
        - name: mosquitto-config
          configMap:
            name: mosquitto-config
---
apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: x32-automation
spec:
  type: LoadBalancer # Expose to Edge Node
  selector:
    app: mosquitto
  ports:
    - port: 1883
      targetPort: 1883
      protocol: TCP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: x32-automation
data:
  mosquitto.conf: |
    listener 1883
    allow_anonymous true
